.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  background: url(./images/ant-rozetsky-SLIFI67jv5k-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.App-link {
  color: #09d3ac;
}

#products {
  padding: 5em;
}

h2 {
  font-size: 2em !important;
}